@charset "UTF-8";
/* =======================================================================================
공통
======================================================================================= */
.empty {
  min-width: 10rem;
}

.empty::placeholder,
.spreadRequired::after {
  content: "필수입력";
  font-size: 1.3rem;
  color: #999;
  padding: 0.2rem;
}

.state {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.8rem;
  border-radius: 2rem;
  white-space: nowrap;
}
.state.before {
  background: #EEE;
  color: #777;
}
.state.ing {
  background: #ECF5FF;
  color: #2B7BFF;
}
.state.hold {
  background: #FFF1F1;
  color: #F55;
}
.state.end {
  background: #EFF9F6;
  color: #04B87F;
}

.tooltip {
  font-size: 2rem;
  color: #099367;
  position: relative;
  vertical-align: middle;
}
.tooltip span {
  display: none;
  white-space: nowrap;
}
.tooltip span::before {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background: #fff;
  border: solid #099367;
  border-width: 1px 1px 0 0;
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  top: 50%;
  left: calc(100% - 0.2rem);
}
.tooltip:hover span {
  display: block;
  position: absolute;
  top: 50%;
  right: calc(100% + 0.4rem);
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: #555;
  padding: 0.5rem 1rem;
  background: #fff;
  border: 1px solid #099367;
}

.item input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.item {
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid #ccc;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  line-height: normal;
  color: #555;
  background: #fff;
  gap: 0.6rem;
  font-size: 1.6rem;
  white-space: nowrap;
}
.item:active {
  border: 1px solid #00062c;
}
.item.selected {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-style: dashed;
}
.item.selected:has(.user-icon)::before {
  display: none;
}
.item.selected .ri-close-line {
  display: flex;
}
.item.selected:active {
  border: 1px solid #00062c;
}
.item .ri-close-line {
  display: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.item .ri-close-line:hover {
  background: #eee;
  transition: 0.2s;
}

.item-title {
  position: relative;
  padding: 1rem;
  display: flex;
}
.item-title .tooltip {
  margin-left: auto;
}

.item-cont .item-add-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.item-cont .input-text {
  flex: 1;
  height: 3.5rem;
  border: 0;
}
.item-cont .input-text::placeholder {
  font-size: 1.4rem;
}
.item-cont .input-date {
  border: 1px solid #eee;
  border-radius: 0.8rem;
  height: 4rem;
  width: 12.5rem;
  transition: 0.2s;
}
.item-cont .input-date:focus {
  border-color: #04B87F;
  background: #EFF9F6;
}
.item-cont.vert {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.item-layer {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  background: #fff;
  border-radius: 1.2rem;
  border: 2px solid #00062C;
  padding: 1.5rem 2rem;
  min-width: 27rem;
}
.item-layer .item-selected .item {
  border: 1.5px solid #00062C;
}
.item-layer .item-group {
  font-size: 1.5rem;
  max-height: 40rem;
  overflow-y: auto;
  padding: 2rem 1rem;
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
}
.item-layer .item-group::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 0.4rem;
}
.item-layer .item-group::-webkit-scrollbar {
  width: 0.4rem;
}
.item-layer .item-group::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0.4rem;
}

.filter-item.active {
  position: relative;
}
.filter-item.active.active .item-layer {
  display: block;
  z-index: 2;
}

.table .ic-cal::before {
  color: #aaa;
}
.table.sortable .state {
  line-height: 1.2;
  padding: 0.7rem 1.2rem;
  width: fit-content;
  margin: 0 auto;
}
.table .item-layer {
  padding: 1rem;
}

.table:not(.horizontal) td:nth-last-child(-n+2):not(:nth-child(-n+2)) .item-layer {
  left: auto;
  right: 0;
}

.row-edit > td > .btn-save {
  position: absolute;
  top: 50%;
  right: -4rem;
  transform: translateY(-50%);
}

.table .table .row-edit > td > .btn-save {
  right: -2rem;
  padding: 0.5rem;
}

.table .item-layer .item-group {
  padding: 0;
  border-top: 0;
}

[data-layer] {
  position: relative;
}
[data-layer].active .item-layer {
  display: block;
  z-index: 2;
}

.popup-tab-cont {
  display: none;
}
.popup-tab-cont.active {
  display: block;
}

/* =======================================================================================
01.대시보드 
======================================================================================= */
/* =======================================================================================
02.프로젝트
======================================================================================= */
.search-input {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sch-input {
  position: relative;
}
.sch-input .form-control {
  width: 100%;
  height: 5.2rem;
  background: #F8F8FA;
  border: 1px solid #ddd;
  border-radius: 1.2rem;
  padding: 0 7.2rem 0 2.4rem;
}
.sch-input .sch-btn {
  background: transparent;
  position: absolute;
  right: 1rem;
  top: 50%;
  translate: 0 -50%;
  border: 0;
  font-size: 2.4rem;
}
.sch-input:has(+ .filter.active, + .filter.setting) .form-control {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.filter {
  display: grid;
  width: 100%;
  margin-bottom: 5rem;
  position: relative;
}
.filter-cont {
  display: none;
  border-right: 1px solid #ddd;
  grid-template-columns: repeat(4, 1fr);
}
.filter-item {
  border: 1px solid #ddd;
  padding: 1.4rem 2rem;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  margin: -0.5px;
}
.filter-item .item-add {
  display: none;
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: #099367;
  font-size: 2.8rem;
}
.filter-item .item-cont {
  padding: 1rem;
}
.filter-item .item.selected {
  padding: 1rem;
}
.filter-item .item-layer {
  min-width: 36.6rem;
  top: -1px;
}
.filter-item:hover {
  border: 1px solid #04B87F;
  z-index: 1;
  background: #EFF9F6;
  box-shadow: 3px 3px 10px 0px rgba(4, 184, 127, 0.1);
}
.filter-item:hover .item-add {
  display: block;
}
.filter-item[data-layer=manager] .item-layer {
  left: auto;
  right: -1px;
}
.filter-item .input-date {
  width: 14rem;
}
.filter-setting {
  display: none;
  gap: 2rem 0.8rem;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid #ddd;
  padding: 2rem 3rem;
}
.filter-foot {
  padding: 1.6rem 2rem;
  border: 1px solid #ddd;
  border-radius: 0 0 1.2rem 1.2rem;
  border-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
.filter-foot .btn-filter-reset {
  display: flex;
  gap: 0.4rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid #eee;
}
.filter-foot .filter-save {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.filter-foot .filter-save input {
  opacity: 0;
  position: absolute;
}
.filter-foot .filter-save input:checked + label::before {
  color: #fff;
  background: #213362;
  border-color: transparent;
}
.filter-foot .filter-save label {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}
.filter-foot .filter-save label::before {
  content: "\eb7a";
  font-family: "remixicon";
  border: 1px solid #ccc;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.6rem;
}
.filter-foot .filter-save .btn-filter-result {
  background: #00062C;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
}
.filter-foot .filter-save .btn-filter-result strong {
  color: #04B87F;
}
.filter .btn-filter-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #fff;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  position: absolute;
  left: 50%;
  top: 100%;
  font-weight: 700;
  color: #000;
}
.filter.active .btn-filter-open {
  transform: translate(-50%, -50%) rotate(180deg);
}
.filter.active .filter-cont {
  display: grid;
}
.filter.active .filter-foot {
  display: flex;
}
.filter.setting .btn-filter-open {
  transform: translate(-50%, -50%) rotate(180deg);
}
.filter.setting .filter-cont {
  display: none;
}
.filter.setting .filter-setting {
  display: flex;
}
.filter.setting .filter-foot {
  display: flex;
}
.filter.setting.active .filter-setting {
  height: 8rem;
  overflow: hidden;
}

.bg1 {
  background: #F8F8FA;
}

.bg2 {
  background: #FFF1F1;
}

.bg3 {
  background: #ECF5FF;
}

.bg4 {
  background: #EFF9F6;
}

.warning {
  color: #F55;
}

.project-amount-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.project-amount {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.project-amount .num {
  color: #111;
  font-size: 1.7rem;
  font-weight: 500;
}
.project-amount small {
  font-size: 1.5rem;
}
.project-amount .vat {
  font-size: 1.3rem;
  color: #777;
  background: #f8f8fa;
  padding: 0.4rem 0.6rem;
}

.sales {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
.sales > li {
  display: flex;
  gap: 2rem;
}
.sales .sales-date {
  display: flex;
  border: 1px solid #eee;
  border-radius: 0.4rem;
  color: #555;
  font-size: 1.3rem;
}
.sales .sales-date * {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sales .sales-date .label {
  background: #eee;
}
.sales .sales-date .num {
  font-size: 1rem;
}
.sales-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sales-label {
  width: 4rem;
  font-size: 1.4rem;
  color: #777;
}
.sales-input {
  width: 16rem;
  font-size: 1.7rem;
}
.sales-input input {
  background: transparent;
  border: 0;
  padding: 0.8rem;
  width: 100%;
  font-weight: 500;
  text-align: right;
}
.sales .year {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 0.4rem;
  padding: 0 2rem;
  border: 1px solid #eee;
}
.sales .unit {
  font-size: 0.933em;
  padding: 0.8rem;
}
.sales-add-btn {
  color: #999;
  font-size: 2rem;
}

.sales-layer .form-control {
  width: 100%;
}

[class*=mem-date] [class*=time-] {
  border-radius: 0.8rem;
  cursor: pointer;
}
[class*=mem-date] .time-0 {
  background: rgba(17, 136, 255, 0);
  color: #888;
}
[class*=mem-date] .time-25 {
  background: rgba(17, 136, 255, 0.08);
  color: #1188FF;
}
[class*=mem-date] .time-50 {
  background: rgba(17, 136, 255, 0.3);
  color: #1188FF;
}
[class*=mem-date] .time-75 {
  background: rgba(17, 136, 255, 0.7);
  color: #fff;
}
[class*=mem-date] .time-100 {
  background: rgb(17, 136, 255);
  color: #fff;
}

.mem-compare {
  display: flex;
  gap: 4rem;
}
.mem-plan {
  background: #F8F8FA;
  flex: 0 0 35%;
}
.mem-plan .label {
  background: #7C7F91;
}
.mem-plan b {
  color: #333;
}
.mem-actual {
  background: #EFF9F6;
  flex: 1;
}
.mem-actual .label {
  background: #099367;
}
.mem-actual b {
  color: #099367;
}
.mem-sum {
  margin-top: auto;
  padding: 2rem 4rem;
  text-align: center;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.mem-sum .label {
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  color: #fff;
}
.mem-date-count [class*=time-] {
  padding: 2.8rem;
}
.mem-date-count tbody td {
  border-top: 0;
}
.mem-date-count tbody td span {
  color: #222 !important;
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
}
.mem-date-count tbody td strong {
  font-size: 1.7rem;
  display: block;
}
.mem-date-count tbody td small {
  font-size: 1rem;
  display: block;
}
.mem-date-schedule table {
  table-layout: fixed;
}
.mem-date-schedule table thead th {
  background: #fff;
  border-radius: 0;
}
.mem-date-schedule table thead > tr:first-of-type > th {
  background: #fafafa;
}
.mem-date-schedule table tbody th {
  padding: 0.85rem 0;
  background: #fff;
  border-top: 0;
}
.mem-date-schedule table tbody td {
  padding: 0.5rem;
  font-size: 1.3rem;
  letter-spacing: -1px;
  border-top: 0;
}
.mem-inner-price {
  filter: blur(5px);
}

.btn-mem-inner-price::before {
  content: "\ec16";
  font-family: "remixicon";
}

#mem-inner-price tfoot {
  color: #1188FF;
  border: 1px solid rgba(17, 136, 255, 0.2);
  background: #ecf5ff;
}

/* =======================================================================================
03.정신건강사업
======================================================================================= */
/* =======================================================================================
04. 교육신청
======================================================================================= */
/* =======================================================================================
07. 정보공개
======================================================================================= */
/* =======================================================================================
08. 병원소개 
======================================================================================= *//*# sourceMappingURL=contents.css.map */