@charset "UTF-8";
/* =======================================================================================
공통
======================================================================================= */
.input-text {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 0.4rem;
  padding: 0.6rem;
}
.input-text::placeholder {
  color: #ccc;
}

.btn-empty {
  font-size: 1.3rem;
  color: #999;
}

.state {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.8rem;
  border-radius: 2rem;
}
.state.before {
  background: #EEE;
  color: #777;
}
.state.ing {
  background: #ECF5FF;
  color: #2B7BFF;
}
.state.hold {
  background: #FFF1F1;
  color: #F55;
}
.state.end {
  background: #EFF9F6;
  color: #04B87F;
}

.filter .item {
  display: inline-flex;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid #ccc;
  padding: 0.6rem 1.6rem;
  cursor: pointer;
  line-height: normal;
  color: #555;
  background: #fff;
  gap: 0.6rem;
  font-size: 1.6rem;
}
.filter .item input {
  position: absolute;
  opacity: 0;
}
.filter .item:has(input:checked) {
  border: 2px solid #00062C;
}
.filter .item:has(input:checked)::before {
  content: "\eb7a";
  font-family: "remixicon";
}

.filter-item {
  position: relative;
  text-align: left !important;
}
.filter-item .item-title {
  position: relative;
  padding: 1rem;
}
.filter-item .item-cont {
  padding: 1rem 1rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.filter-item .item-cont .item-selected {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.filter-item .item-cont .item-selected .item {
  padding: 1rem;
  gap: 0.3rem;
  border: 1px dashed #ccc;
}
.filter-item .item-cont .item-selected .item:has(input:checked) {
  font-size: 1.6rem;
  border: 2px solid #00062C;
}
.filter-item .item-cont .item-selected + .input-text {
  flex: 0;
  width: 10rem;
}
.filter-item .item-cont .input-text {
  flex: 1;
  height: 3.5rem;
  border: 0;
}
.filter-item .item-cont .input-text::placeholder {
  font-size: 1.4rem;
}
.filter-item .item-cont .input-date {
  border: 1px solid #eee;
  border-radius: 0.8rem;
  height: 4rem;
  width: 12.5rem;
  transition: 0.2s;
}
.filter-item .item-cont .input-date:focus {
  border-color: #04B87F;
  background: #EFF9F6;
}
.filter-item .item-layer {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;
  min-width: 37rem;
  background: #fff;
  border-radius: 1.2rem;
  border: 2px solid #00062C;
  padding: 1.4rem 2rem;
}
.filter-item .item-layer .tooltip {
  font-size: 2rem;
  color: #099367;
  position: absolute;
  right: 0;
  top: 1rem;
}
.filter-item .item-layer .tooltip span {
  display: none;
  white-space: nowrap;
}
.filter-item .item-layer .tooltip span::before {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background: #fff;
  border: solid #099367;
  border-width: 1px 1px 0 0;
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  top: 50%;
  left: calc(100% - 0.2rem);
}
.filter-item .item-layer .tooltip:hover span {
  display: block;
  position: absolute;
  top: 50%;
  right: calc(100% + 0.4rem);
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: #555;
  padding: 0.5rem 1rem;
  background: #fff;
  border: 1px solid #099367;
}
.filter-item .item-layer .item-group {
  font-size: 1.5rem;
  max-height: 14.5rem;
  overflow-y: auto;
  padding: 2rem 1rem;
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
}
.filter-item .item-layer .item-group::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 0.4rem;
}
.filter-item .item-layer .item-group::-webkit-scrollbar {
  width: 0.4rem;
}
.filter-item .item-layer .item-group::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 0.4rem;
}
.filter-item.active .item-layer {
  display: block;
  z-index: 2;
}

/* =======================================================================================
01.대시보드 
======================================================================================= */
/* =======================================================================================
02.프로젝트
======================================================================================= */
.search-input {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sch-input {
  position: relative;
}
.sch-input .input-text {
  width: 100%;
  height: 5.2rem;
  background: #F8F8FA;
  border: 1px solid #ddd;
  border-radius: 1.2rem;
  padding: 0 7.2rem 0 2.4rem;
}
.sch-input .sch-btn {
  background: transparent;
  position: absolute;
  right: 1rem;
  top: 50%;
  translate: 0 -50%;
  border: 0;
  font-size: 2.4rem;
}
.sch-input:has(+ .filter.active) .input-text {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.filter {
  display: grid;
  width: 100%;
  margin-bottom: 5rem;
  position: relative;
}
.filter .filter-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: #fff;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  position: absolute;
  left: 50%;
  top: 100%;
}
.filter .filter-cont {
  display: none;
  border-right: 1px solid #ddd;
}
.filter .filter-cont .filter-item {
  border: 1px solid #ddd;
  padding: 1.4rem 2rem;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  margin: -0.5px;
}
.filter .filter-cont .filter-item .item-add {
  display: none;
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: #099367;
  font-size: 2.8rem;
}
.filter .filter-cont .filter-item:hover {
  border: 1px solid #04B87F;
  z-index: 1;
  background: #EFF9F6;
  box-shadow: 3px 3px 10px 0px rgba(4, 184, 127, 0.1);
}
.filter .filter-cont .filter-item:hover .item-add {
  display: block;
}
.filter .filter-foot {
  padding: 1.6rem 2rem;
  border: 1px solid #ddd;
  border-radius: 0 0 1.2rem 1.2rem;
  border-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
.filter .filter-foot .filter-reset {
  display: flex;
  gap: 0.4rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid #eee;
}
.filter.active .filter-open, .filter.setting .filter-open {
  transform: translate(-50%, -50%) rotate(180deg);
}
.filter.active .filter-cont, .filter.setting .filter-cont {
  display: grid;
}
.filter.active .filter-foot, .filter.setting .filter-foot {
  display: flex;
}
.filter.setting.active .set-item-list {
  height: 8rem;
  overflow: hidden;
}
.filter .set-item-list {
  display: flex;
  gap: 2rem 0.8rem;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 1.2rem 1.2rem 0 0;
  padding: 2rem 3rem;
}

/* =======================================================================================
03.정신건강사업
======================================================================================= */
/* =======================================================================================
04. 교육신청
======================================================================================= */
/* =======================================================================================
07. 정보공개
======================================================================================= */
/* =======================================================================================
08. 병원소개 
======================================================================================= */
/* =======================================================================================
반응형
======================================================================================= */
@media (max-width: 1024.98px) {
  .box:has(.step-list) {
    padding: 3.5rem 6rem;
  }
  .online-apply {
    flex-direction: column;
  }
  .charter {
    padding: 1.6rem;
  }
  .nurse .core-list {
    flex-direction: column;
    padding-top: 0;
  }
  .nurse .core-list::before {
    display: none;
  }
  .nurse .core-list > li {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .nurse .core-list br {
    display: none;
  }
  .nurse-org.organization .committee {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 767.98px) {
  .box:has(.step-list) {
    padding: 3.5rem 2rem;
  }
  .medical-team .item-basic {
    padding: 2rem;
    gap: 3rem;
  }
  .medical-team .mt-person {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  .medical-team .item .btn {
    right: 2rem;
    top: 2rem;
  }
  .medical-team .mt-career {
    padding: 2rem 3rem;
  }
  .medical-team .mt-career .list-dot {
    display: block;
  }
  .mdcco_clsf,
  .mdcco_se,
  .mdcco_cd {
    width: calc(100% + 2rem);
    background: var(--gray-5);
    margin: -1rem -1rem 0;
    padding: 1rem !important;
    justify-content: center;
  }
  .mdcco_clsf {
    background: var(--gray-70);
    color: var(--white);
  }
  .mdcco_se {
    background: var(--gray-20);
  }
  .medical-field .mf-cont {
    margin: -4rem 1rem 6rem;
    padding: 2rem;
  }
  .medical-field .mf-cause {
    flex-direction: column;
    padding: 2rem;
  }
  .prognasis {
    padding: 2rem;
  }
  .festival-invite .photo {
    float: none;
    text-align: center;
    margin-left: 0;
  }
  .hospital-view.leaflet img {
    height: auto;
  }
  .event-location > li {
    padding-left: 0;
  }
  .event-location .transport-icon {
    position: static;
    display: flex;
    margin: 0 auto 1rem;
  }
  .infoorg-pop-title,
  .infoorg-pop .scbox,
  .infoorg-pop .info-org {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .infolist_pop {
    width: 100%;
  }
  .infolist_pop .infolist_box1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .relevant-laws .box {
    height: 100%;
  }
  #mergerFrame {
    height: 4500px !important;
  }
  .greeting .g-wrap {
    padding: 2.8rem 2.8rem 12rem;
    position: relative;
  }
  .greeting .g-cont .photo {
    display: block;
    width: 20rem;
    height: auto;
    right: 2rem;
  }
  .greeting .g-cont .sign {
    gap: 0.8rem;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
  }
  .greeting .g-cont .sign .name {
    padding-left: 0;
  }
  .greeting .g-cont .sign .name::before {
    display: none;
  }
  .greeting-foot {
    padding: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .directorlist {
    grid-template-columns: 1fr 1fr;
  }
  .history > ul > li {
    gap: 2rem;
  }
  .history-title {
    left: 0;
    width: 100%;
    padding: 2.4rem 3.6rem;
  }
  .mission-vision .goals-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 0;
  }
  .mission-vision .goals-list li:nth-child(3) {
    background: rgba(34, 64, 102, 0.9);
  }
  .mission-vision .goals-list li:nth-child(4) {
    background: rgba(29, 86, 188, 0.9);
  }
  .mission-vision .value-list {
    flex-direction: column;
  }
  .mission-vision .ideal-person .list li {
    line-height: 1.2;
  }
  .organization span {
    padding: 1rem;
  }
  .organization .committee {
    margin-left: 0;
    margin-right: 0;
  }
  .organization .committee-item:nth-child(2)::after {
    top: 2.4rem;
  }
  .organization .committee-list {
    flex-direction: column;
  }
  .organization .depart {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .organization .depart::before {
    width: 52%;
  }
  .organization .depart-body {
    height: calc(100% - 6.55rem);
  }
  .depart-img-area figure {
    float: none;
    margin: 0 0 2rem 0;
    text-align: center;
  }
  .ambassador .item {
    flex-direction: column;
  }
  .map-info-btn {
    margin-left: inherit;
  }
  .charter-list .text {
    padding: 1rem;
  }
  .banner-list li {
    flex-direction: column;
  }
  .banner-list li strong {
    text-align: center;
  }
  .banner-list li .btn {
    margin-left: inherit;
  }
  .sitemap-wrap {
    grid-template-columns: 1fr;
  }
  .cont-qna-box .btn-all {
    right: 2rem;
    top: 2rem;
  }
  .cont-qna-box.accordion details .aco-cont {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .search-list-top {
    flex-direction: column;
    gap: 1rem;
  }
  .total-search-list .info-btm {
    flex-direction: column;
  }
}/*# sourceMappingURL=contents.css.map */