@import "mixin";

/* =======================================================================================
공통
======================================================================================= */
$contents : $url;

//인풋
[contenteditable='true']:focus { outline: 0; background: var(--primary-5);}
.spreadRequired::after { content: '필수입력'; font-size: 1.3rem; color: #999; padding: .2rem;}



//진행상태
.state { display: flex; gap:.4rem; align-items: center;justify-content: center; padding: .7rem 1.8rem; border-radius: 2rem;  white-space: nowrap;
	&.before { background: #EEE; color: #777;}
	&.ing { background: #ECF5FF; color: #2B7BFF;}
	&.hold { background: #FFF1F1; color: #F55;}
	&.end { background: #EFF9F6; color: #04B87F;}
}

//툴팁
.tooltip { font-size: 2rem; color: #099367; position: relative; vertical-align: middle;
	span { display: none; white-space: nowrap; 
		&::before { content: ''; display: block; width: .6rem; height: .6rem; background: #fff; border:solid #099367; border-width: 1px 1px 0 0; transform:translateY(-50%) rotate(45deg); position: absolute;top:50%; left: calc(100% - 0.2rem);}
	}
	&:hover { 
		span { display: block; position: absolute; top: 50%; right: calc(100% + .4rem); transform:translateY(-50%); font-size: 1.4rem; color: #555; padding: 0.5rem 1rem; background: #fff; border: 1px solid #099367;}
	}
}

//아이템 레이어
%check {
    input[type=checkbox]{ position: absolute; opacity: 0;}
    // &:has(input:checked){ 
    //     &::before { content: '\eb7a'; font-family: 'remixicon';}
    // }
}

.item { display: inline-flex; align-items: center; border-radius: 2rem; border: 1px solid #ccc; padding: .6rem 1.2rem; cursor: pointer; line-height: normal; color: #555; background: #fff; gap: .6rem; font-size: 1.6rem; white-space: nowrap;

	&:active { border:1px solid #00062c;}
	@extend %check;	
	.state { 
		@extend %check; 
	}
	.ri-close-line { display: flex; border-radius: 50%; width: 2rem; height: 2rem; align-items: center; justify-content: center; font-size: 1.6rem; 
		&:hover { background: #eee; transition: .2s;}
	}	
	.form-control { border: 0; }	
}
.item-cont {
	.selected { border-style: dashed; padding: 1rem;
		&:has(.form-control){ padding-top:.35rem; padding-bottom: .35rem;}
		&:active { border:1px solid #00062c;}
	}
	.item-add-group{display: flex; gap:1rem; align-items: center; flex-wrap: wrap;}
	.input-text { flex:1; height: 3.5rem; border:0; 
		&::placeholder { font-size: 1.4rem;}
	}
	/* 	
	.input-date { border: 1px solid #eee; border-radius: 0.8rem;height: 4rem; width: 12.5rem; transition: 0.2s;
		&:focus { border-color: #04B87F; background: #EFF9F6;}
	} */
	&.vert { @include flex(1rem); flex-direction: column; }
}
.item-title { position: relative; padding: 1rem; display: flex;
	.tooltip {margin-left: auto;}
}

.item-layer { display: none; position: absolute; top:100%; left: -1px; background: #fff;border-radius: 1.2rem; border: 2px solid #00062C; padding: 1.5rem 2rem; width: 27rem; 	
	.item-selected .item { border: 1.5px solid #00062C;}
	.item-group { font-size: 1.5rem; max-height: 40rem; overflow-y:auto;  display: flex; gap: .6rem; flex-wrap: wrap; @include scrollbar(#ccc, #fff, .4rem, .4rem); }
	&.status-layer { width: 11rem;}
}
.filter-item.active {position: relative;
	&.active { 
		.item-layer { display: block; z-index: 2;}
	}	
}
.table.horizontal {
	> table { min-width: 119.8rem; }
	.item-layer { top: 0; left:10rem;}
	.sales-layer { top: 100%; left:0; width: 17rem;}
}



//테이블 리스트 
.table-list {
	.ic-cal::before { color: #aaa;}
	&.sortable { 
		.state {line-height: 1.2; padding: 0.7rem 1.2rem; width:fit-content; margin: 0 auto;}				
	}
			

	.row-btn-control { text-align: right; padding-right: 0;
		.user-group {top: 50%; right:inherit; left:1rem; transform:translateY(-50%); width:5rem; flex-wrap: wrap;
			.user-icon { margin-left: -0.6rem;}
			.user-sum { margin-left: 0; margin-top: 0.2rem;display: block;}
		}
		.user-group,
		.btn-draggable{opacity: 0;}
		.btn-group {display: none; position: absolute; right:-.5rem; top:50%; transform:translateY(-50%); white-space:nowrap; background: #fff;
			button { border-radius: 50%; width: 2.5rem; height: 2.5rem; display: flex; align-items: center; justify-content: center; color: #777;;
				&:hover { background: #eee; }
			}				
		}
		&.active .btn-group{display: block;}
	}

	.item-layer { padding: 1rem;}	
	[data-layer="project"],
	[data-layer="orderer"]{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
	
}

.table:not(.horizontal) td:nth-last-child(-n+2):not(:nth-child(-n+2)) {
	.item-layer{left:auto; right:0;}
}
.row-edit>td>.btn-save {position:absolute; top: 50%; right: -4rem; transform: translateY(-50%);}
.table .table .row-edit>td>.btn-save { right: -2rem; padding:.5rem; }
.table .item-layer .item-group { padding: 0;border-top: 0;}

[data-layer] { position: relative; 
	&.active { 
		.item-layer { display: block; z-index: 2;}
	}	
}
.popup-tab-cont { display: none;
	&.active {display: block;}
}

/* =======================================================================================
01.대시보드 
======================================================================================= */


/* =======================================================================================
02.프로젝트
======================================================================================= */
.search-input {  @include flex(1rem, center, center); width: 100%;}

.sch-input { position: relative;
	.form-control { width: 100%; height: 5.2rem; background: #F8F8FA; border: 1px solid #ddd; border-radius: 1.2rem; padding: 0 7.2rem 0 2.4rem; }
	.sch-btn { background: transparent; @include pos(rt, 1rem, 50%); border: 0; font-size: 2.4rem;}
	&:has(+.filter.active, + .filter.setting) .form-control { border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-bottom: 0;}
}

.filter { display:grid; width: 100%; margin-bottom: 5rem; position: relative;	
	&-cont { display: none; border-right: 1px solid #ddd; grid-template-columns: repeat(4, 1fr); }
	&-item { border: 1px solid #ddd; padding: 1.4rem 2rem; cursor:pointer; transition: 0.2s; position: relative; margin: -0.5px;
		.item-add { display: none; position: absolute;right: 2rem; top: 2rem; color:#099367; font-size: 2.8rem;}
		> .item-cont {
			.item-add-group {
				&::before { content: '전체'; font-size: 1.3rem; color: #999;}
				&:has(.item)::before { display: none;}	
			}
		}
		.item-cont { @include flex(1rem, center); flex-wrap: wrap; padding: 1rem; }
		.item-layer { width: calc(100% + 1px); top: -1px; 
			.item-group { border-top: 1px solid #ddd; padding: 2rem 1rem; }
		}
		&:hover { border: 1px solid #04B87F; z-index: 1;
			background:  #EFF9F6;
			box-shadow: 3px 3px 10px 0px rgba(4, 184, 127, 0.10);
			.item-add {display: block;}
		}
		&[data-layer=manager] .item-layer{left:auto; right:-1px;}
	}	
	&-setting { display: none; gap: 2rem .8rem; flex-wrap: wrap; width: 100%; border: 1px solid #ddd; padding: 2rem 3rem; 
		.item-row { display: flex; gap: 0.8rem; width: 100%;}
	}
	&-foot {padding: 1.6rem 2rem; border: 1px solid #ddd; border-radius: 0 0 1.2rem 1.2rem; border-top: 0; @include flex(null, center, space-between); display: none; 
		.btn-filter-reset { display: flex; gap:.4rem; padding: 1rem 2rem; border-radius: 2rem; border: 1px solid #eee;}
		.filter-save { display: flex; align-items: center; gap: 1.4rem;
			input{ opacity: 0; position: absolute;
				&:checked + label::before {color: #fff; background: #213362; border-color: transparent;}
			}
			label{ display: flex; align-items: center; gap: 0.6rem; cursor: pointer;
				&::before { content: '\eb7a'; font-family: 'remixicon'; border: 1px solid #ccc; width: 2rem; height: 2rem; display: flex; align-items: center; justify-content: center; border-radius: 50%; font-size: 1.6rem; }
			}
			.btn-filter-result { background: #00062C; color: #fff; font-size: 1.5rem; padding: 0.8rem 1.2rem; border-radius: 0.6rem;
				strong { color: #04B87F;}
			}
		}
	}
	.btn-filter-open {display: flex; align-items: center; justify-content: center; width: 4rem; height: 4rem; border-radius: 50%; border: 1px solid #ddd; background: #fff;  translate:-50% -50%; transition: 0.2s; position: absolute; left: 50%; top: 100%; font-weight:700; color: #000;}		

	&.active { 
		.btn-filter-open { rotate: 180deg;}
		.filter-cont { display: grid;}
		.filter-foot { display: flex;}
	}
	&.setting { 
		.btn-filter-open { rotate: 0;}
		.filter-cont { display: none;}
		.filter-setting { display: flex; height: 7.8rem; overflow:hidden;}
		.filter-foot { display: flex;}
		&.active {
			.filter-setting { height: auto; overflow:visible; }
			.btn-filter-open { rotate: 180deg;}
		}
	}
	
} 

.bg1 { background: #F8F8FA;}
.bg2 { background: #FFF1F1;}
.bg3 { background: #ECF5FF;}
.bg4 { background: #EFF9F6;}
.warning { color: #F55;}

//매출관리
.project-amount-group { @include flex(1rem, center);}
.project-amount { @include flex(1rem, center);
	.num { color: #111; font-size: 1.7rem; font-weight: 500;}
	small { font-size: 1.5rem; }
	.vat { font-size: 1.3rem; color: #777; background: #f8f8fa; padding: 0.4rem 0.6rem;}
}
.sales { display: flex; gap: .8rem; flex-direction: column;
	>li {display: flex; gap: 2rem;}	
	.sales-date { display: flex; border: 1px solid #eee; border-radius: 0.4rem; color: #555; font-size: 1.3rem;
		* { padding: .5rem 1rem; @include flex(null, center, center);}
		.label { background: #eee; }
		.num { font-size: 1rem; }
	}
	&-group { display: flex; gap:1rem; align-items: center;}
	&-label { width: 4rem; font-size: 1.4rem; color: #777;}
	&-input { width: 16rem; font-size: 1.7rem;
		input { background: transparent; border: 0; padding:.8rem;	width: 100%; font-weight: 500; text-align: right; }
	}
	.year {@include flex($ai:center); height: 100%; border-radius: 0.4rem; padding: 0 2rem; border: 1px solid #eee;}
	.unit { font-size: .933em; padding:.8rem;}
	&-add-btn { color: #999; font-size: 2rem;}
}
.sales-layer { 
	.form-control {width: 100%;}
}
//인건비
[class*="mem-date"] {
	[class*="time-"] { border-radius: 0.8rem; cursor:pointer; }
	.time-0 { background: rgba(17,136,255, 0); color: #888; }
	.time-25 { background: rgba(17,136,255, .08); color: #1188FF;}
	.time-50 { background: rgba(17,136,255, .3); color: #1188FF;}
	.time-75  { background: rgba(17,136,255, .7); color: #fff;}
	.time-100 { background: rgba(17,136,255, 1); color: #fff;}
}

.mem{
	&-compare { @include flex(4rem); }
	&-plan { background: #F8F8FA; flex: 0 0 35%;
		.label { background: #7C7F91;}
		b { color: #333;}
	}
	&-actual { background: #EFF9F6; flex: 1;
		.label { background: #099367;}
		b { color: #099367;}
	}
	&-sum { margin-top: auto; padding: 2rem 4rem; text-align: center; @include flex(3rem, center, center);
		.label { font-size: 1.4rem; font-weight: 500; border-radius: 0.4rem; padding: 0.4rem .6rem; color: #fff; }		
	}
	&-date-count {
		[class*="time-"] { padding: 2.8rem; }
		tbody {
			td{ border-top: 0;
				span { color: #222!important; position: absolute; left: 1.6rem; top: 1.6rem;}
				strong {font-size: 1.7rem; display: block;}
				small { font-size: 1rem; display: block;}
			}		
		}
	}
	&-date-schedule {
		table {table-layout: fixed;
			thead {
				th { background: #fff; border-radius: 0;}
				> tr:first-of-type > th { background: #fafafa;}
			}
			tbody {
				th {padding: 0.85rem 0; background: #fff; border-top: 0;}
				td { padding: 0.5rem; font-size: 1.3rem; letter-spacing: -1px; border-top: 0;}
			}
		}
	}
	
	&-inner-price {filter: blur(5px);}	
}
.btn-mem-inner-price::before { content: "\ec16"; font-family: 'remixicon';}
#mem-inner-price tfoot { color: #1188FF; border:1px solid rgba(17, 136, 255, 0.20); 
	background: #ecf5ff;}


/* =======================================================================================
03.정신건강사업
======================================================================================= */


/* =======================================================================================
04. 교육신청
======================================================================================= */


/* =======================================================================================
07. 정보공개
======================================================================================= */


/* =======================================================================================
08. 병원소개 
======================================================================================= */

