@import "../mixin";

/* table */
.table { /* 스크롤 임시 감춤 - overflow-x:auto; @include scrollbar( #ccc, #fff, .6rem, .3rem, h); */
	
	td,th {
		border-top: 1px solid #eee; padding: 1.5rem .3rem; word-break: break-all; text-align: center; font-size: 1.5rem; line-height: 1.5;
		&.text_left { padding-left: 2rem; text-align: left;}
	}
	th {white-space: nowrap; }

	>table { /* 스크롤 임시 감춤 - min-width:146rem; */
		>thead>tr:first-of-type {
			>th { border-top: 0; }
		}			
		>tbody>tr:first-of-type {
			>th, >td { border-top: 0; }
		}
		>thead { 
			th { background: #F6F7FB; padding: 1.5rem 1rem; font-weight: 400;
				&:first-child { border-radius: 1.2rem 0 0 1.2rem;}
				&:last-child { border-radius: 0 1.2rem 1.2rem 0;}
			}
		}
		
		td { position: relative;			

			.btn-group {display: none; position: absolute; left:0; top:50%; transform:translateY(-50%); white-space:nowrap; background: #fff;
				button { border-radius: 50%; width: 3.2rem; height: 3.2rem; display: flex; align-items: center; justify-content: center; color: #777;;
					&:hover { background: #eee; }
				}				
			}
			&.row-btn-control { 
				.user-group {top: 50%; right:inherit; left:-5rem; transform:translateY(-50%); width:5rem; flex-wrap: wrap;
					.user-icon { margin-left: -0.6rem;}
					.user-sum { margin-left: 0; margin-top: 0.2rem;display: block;}
				}
				.user-group,
				.btn-draggable{opacity: 0;}
				&.active .btn-group{display: block;}
			}
		}
		tfoot { border-top: 1px solid var(--gray-40); }	
		+ * { margin-top: 0.8rem;}
		.ri-calendar-line {margin-right: 0.4rem;}
	}
	&.narrow {
		th, td { padding: .8rem .2rem; font-size: 1.5rem; word-break: break-all;}
	}
	&.in-border {
		th, td {
			border-left: 1px solid var(--gray-30); border-right: 1px solid var(--gray-30); 

			&:first-child, &:first-child { border-left: 0; }
			&:last-child, &:last-child { border-right: 0; }
		}
	}
	&.horizontal {
		> table > tbody {
			> tr {
				> th, 
				> td { text-align: left; padding-left: 2rem; }
			}
		}
	}
	&.draggable {
		tr{ cursor: pointer;
			&:hover {
				.row-btn-control {
					.user-group,
					.btn-draggable{opacity: 1;}
				}
			}
		}
	}
	&.sortable { 
		thead th {
			.btn-sort { vertical-align: middle; display: inline-flex; flex-direction: column; color: #aaa; font-size: 1.5rem; line-height: 1; margin-left: 0.2rem;
				.ri-arrow-down-s-fill { margin-top: -0.8rem;}
			
				&.desc {
					.ri-arrow-up-s-fill::before { color: #04B87F; content: '\ea76';}
					.ri-arrow-down-s-fill { display: none;}
				}
				&.asc {
					.ri-arrow-up-s-fill::before { color: #04B87F; content: '\ea4c';}
					.ri-arrow-down-s-fill { display: none;}
				}
			}
		}
		
	}
	.layout-fixed { table-layout: fixed;}
}
.s-table { border: 1px solid #eee;
	thead {
		th { border-radius: 0!important;}
		tr:nth-child(2) th { background: #fff; }
	}
}

.btn-row-add { padding: 4rem 0; display: flex; align-items: center; justify-content: center; width: 100%; font-size: 1.6rem; color: #777; border-top: 1px solid #eee; }

/* row-line */
.row-line {
	border-top: 2px solid var(--gray-90); border-bottom: 1px solid var(--gray-30);

	>li {
		display: flex; border-top: 1px solid var(--gray-30); word-break: keep-all; padding: 1.5rem 2rem; gap: 1rem;
		&:first-of-type { border-top-color: transparent; }
		.label { width: 20%; min-width: 10rem; }
		.label-cont { flex: 1; min-width: 1%; }

	}
	@for $i from 2 through 3 {	
		&.col#{$i} { display: grid; grid-template-columns: repeat(#{$i}, 1fr); 
			>li:nth-of-type(-n+#{$i}) { border-top-color: transparent; }
		}
	}	
}
