@import "../mixin";

.tabs { position: relative;
	ul { display: flex; }
	a, button { width: 100%; @include flex(.3rem, center, center); font-size: 1.8rem; text-align: center; padding: 1.5rem; position: relative; line-height: 1.2;
		&:hover { text-decoration: none; transition: .2s;}		
	}
	li.active {		
		a, button { font-weight: 700; 
			/* &::after { content: ""; display: block; } */
		}
	}
	/* &.num10 { flex-wrap: wrap;
		> li {flex: 1 1 20%;}
	} */
	.depth4 { 
		>li { flex: 1; 
			>a, >button { border-bottom: .3rem solid transparent; margin-bottom: -1px;
				&:hover { border-bottom-color: var(--gray-30);}
			}
			&.active {
				>a, >button { border-bottom-color: var(--primary-70); color: var(--primary-70); }
				.depth5 { display: flex;}
				&:has(.depth5) {padding-bottom: 8.7rem;}
			}
			
		}
	}	
	.depth5 { display: none; position: absolute; left: 0; bottom: 0; width:100%;	gap:1rem; justify-content: center; padding: 2rem 0; border-top:1px solid #ddd; 
		>li { 
			a, button { background-color: var(--gray-10); color: var(--primary-70); border-radius: 3rem; font-size: 1.8rem; font-weight: 600; padding: 1.2rem 2rem;
				&:hover { background-color: var(--gray-20); }
			}
			
			&.active { 
				a, button { background: var(--primary-70); color: var(--white); }
			}
			~ li { margin-left: -1px; }
		}
	}
}

