@import "../mixin";

.tabs {
	>ul { display: flex; }
	a, button { width: 100%; @include flex(.3rem, center, center); font-size: 1.8rem; text-align: center; padding: 1.5rem; position: relative; line-height: 1.2;
		&:hover { text-decoration: none; transition: .2s;}		
	}
	li.active {		
		a, button { font-weight: 700; 
			/* &::after { content: ""; display: block; } */
		}
	}
	/* &.num10 { flex-wrap: wrap;
		> li {flex: 1 1 20%;}
	} */
}
.depth4 { 
	>li { flex: 1; 
		a, button { border-bottom: .3rem solid transparent; margin-bottom: -1px;
			&:hover { border-bottom-color: var(--gray-30);}
		}
		&.active {
			a, button { border-bottom-color: var(--primary-70); color: var(--primary-70); }
		}
	}
}	
.depth5 {		
	>ul{
		>li { 
			a, button { height: 5.8rem; background-color: var(--white);	border: 1px solid var(--gray-40); 
				&:hover { background-color: var(--gray-10); }
			}
			
			&.active { 
				a, button { border: .3rem solid var(--primary-70); color: var(--primary-70); }
			}
			~ li { margin-left: -1px; }
		}
	}
}
